body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Chopsic', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Chopsic';
  src: local('Chopsic'), url(./fonts/Chopsic-K6Dp.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'AlphaCentauri';
  src: local('AlphaCentauri'), url(./fonts/Alphacentauri-MVY4p.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Aquire-BW0ox.otf';
  src: local('Aquire'), url(./fonts/Aquire-BW0ox.otf) format('opentype');
  font-weight: normal;
}

#title {
  font-family: 'AlphaCentauri';
  font-size: xx-large;
}

#about {
  font-family: 'AlphaCentauri';
}

#pricing {
  font-family: 'AlphaCentauri';
}

#contact {
  font-family: 'AlphaCentauri';
}

.pricingpage {
  font-family: 'AlphaCentauri';
  font-size: xx-large;
  text-align: center;
}